.arrow-container {
  position: absolute;
  z-index: 3;
  bottom: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-arrow {
  width: 70px;
  height: 70px;
  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  .arrow-icon {
    max-height: 35px;
  }
}
