.filters {
  height: 80px;
  padding: 20px 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid var(--color-black-light);
  margin-bottom: 24px;
  color: var(--color-grey);
}

.filters-inner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.filters-group {
  display: inline-flex;
}

.slider-label {
  font-size: 13.5px;
  line-height: 1.2;
  font-family: var(--font-primary);
  align-self: center;
  padding-right: 20px;
}

.filters-slider {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 26px;
  padding-right: 58px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 17px;
    background: url(/assets/images/icons/pepper-icon.svg);
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 48px;
    height: 17px;
    background: url(/assets/images/icons/pepper-icon.svg);
  }
}
